@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">
    Welcome to Logistic Webapp
  </h1>
  <br />
  <p>
    Logistic Webapp is a sample application that uses Entity Framework Core in an ASP.NET Core MVC web application.
  </p>
  <p>
    Click <a asp-area="" asp-controller="Trucks" asp-action="Index">here</a> or the Trucks link in the navigation bar above to start adding new trucks.
  </p>
</div>
